/* OVERRIDES AND ADDITIONS FOR THEME */
@import url('./_variables.scss');
@import url('./_bootswatch.scss');
@import url('./bootstrap.css');

/* NAVIGATION  */
.navbar {
  /* justify-content: space-between; */

  flex-direction: row;
  padding: 0;
  border: 0;
}

.navbar-nav--row {
  display: flex;
  flex-direction: row;

  & .nav-item:not(:last-of-type) {
    margin-right: 1em;
  }
}

/* LAYOUT */
.main-layout {
  & > header {
    padding:  1.5em 1em;
  }
}

.main-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
